go 1.18

use (
	./v2/agent/command/animate
	./v2/agent/command/geocode
	./v2/agent/command/whereareyou
	./v2/broker/googlepubsub
	./v2/broker/grpc
	./v2/broker/http
	./v2/broker/kafka
	./v2/broker/memory
	./v2/broker/mqtt
	./v2/broker/nats
	./v2/broker/proxy
	./v2/broker/rabbitmq
	./v2/broker/redis
	./v2/broker/segmentio
	./v2/broker/service
	./v2/broker/snssqs
	./v2/broker/sqs
	./v2/broker/stan
	./v2/broker/stomp
	./v2/client/http
	./v2/client/mock
	./v2/client/selector/label
	./v2/client/selector/shard
	./v2/client/selector/static
	./v2/codec/bsonrpc
	./v2/codec/json-iterator
	./v2/codec/jsonrpc2
	./v2/codec/msgpackrpc
	./v2/codec/segmentio
	./v2/config/encoder/cue
	./v2/config/source/configmap
	./v2/config/source/consul
	./v2/config/source/grpc
	./v2/config/source/mucp
	./v2/config/source/pkger
	./v2/config/source/runtimevar
	./v2/config/source/url
	./v2/config/source/vault
	./v2/logger/apex
	./v2/logger/logrus
	./v2/logger/zap
	./v2/logger/zerolog
	./v2/micro/allow
	./v2/micro/auth
	./v2/micro/cors
	./v2/micro/disable_rpc
	./v2/micro/gzip
	./v2/micro/header
	./v2/micro/index
	./v2/micro/ip_allow
	./v2/micro/metadata
	./v2/micro/metrics
	./v2/micro/metrics/prometheus
	./v2/micro/router
	./v2/micro/stats_auth
	./v2/micro/trace/awsxray
	./v2/micro/trace/uuid
	./v2/proxy/http
	./v2/registry/cache
	./v2/registry/consul
	./v2/registry/etcd
	./v2/registry/etcdv3
	./v2/registry/eureka
	./v2/registry/gossip
	./v2/registry/kubernetes
	./v2/registry/mdns
	./v2/registry/memory
	./v2/registry/multi
	./v2/registry/nats
	./v2/registry/proxy
	./v2/registry/service
	./v2/registry/zookeeper
	./v2/server/http
	./v2/store/consul
	./v2/store/etcd
	./v2/store/memcached
	./v2/store/mysql
	./v2/store/redis
	./v2/transport/grpc
	./v2/transport/http
	./v2/transport/memory
	./v2/transport/nats
	./v2/transport/quic
	./v2/transport/rabbitmq
	./v2/transport/tcp
	./v2/transport/utp
	./v2/wrapper/breaker/gobreaker
	./v2/wrapper/breaker/hystrix
	./v2/wrapper/endpoint
	./v2/wrapper/monitoring/prometheus
	./v2/wrapper/monitoring/victoriametrics
	./v2/wrapper/ratelimiter/ratelimit
	./v2/wrapper/ratelimiter/uber
	./v2/wrapper/select/roundrobin
	./v2/wrapper/select/shard
	./v2/wrapper/select/version
	./v2/wrapper/service
	./v2/wrapper/trace/awsxray
	./v2/wrapper/trace/datadog
	./v2/wrapper/trace/opencensus
	./v2/wrapper/trace/opentracing
	./v2/wrapper/validator
	./v3/acme/certmagic
	./v3/auth/jwt
	./v3/broker/gocloud
	./v3/broker/googlepubsub
	./v3/broker/grpc
	./v3/broker/http
	./v3/broker/kafka
	./v3/broker/memory
	./v3/broker/mqtt
	./v3/broker/nats
	./v3/broker/nsq
	./v3/broker/proxy
	./v3/broker/rabbitmq
	./v3/broker/redis
	./v3/broker/segmentio
	./v3/broker/snssqs
	./v3/broker/sqs
	./v3/broker/stan
	./v3/broker/stomp
	./v3/client/grpc
	./v3/client/http
	./v3/client/mock
	./v3/client/mucp
	./v3/codec/bsonrpc
	./v3/codec/json-iterator
	./v3/codec/jsonrpc2
	./v3/codec/msgpackrpc
	./v3/codec/segmentio
	./v3/config/encoder/cue
	./v3/config/encoder/hcl
	./v3/config/encoder/toml
	./v3/config/encoder/xml
	./v3/config/encoder/yaml
	./v3/config/source/configmap
	./v3/config/source/consul
	./v3/config/source/etcd
	./v3/config/source/grpc
	./v3/config/source/mucp
	./v3/config/source/nacos
	./v3/config/source/pkger
	./v3/config/source/runtimevar
	./v3/config/source/url
	./v3/config/source/vault
	./v3/logger/apex
	./v3/logger/logrus
	./v3/logger/windowseventlog
	./v3/logger/zap
	./v3/logger/zerolog
	./v3/proxy/http
	./v3/registry/cache
	./v3/registry/consul
	./v3/registry/etcd
	./v3/registry/eureka
	./v3/registry/gossip
	./v3/registry/kubernetes
	./v3/registry/mdns
	./v3/registry/memory
	./v3/registry/multi
	./v3/registry/nacos
	./v3/registry/nats
	./v3/registry/proxy
	./v3/registry/zookeeper
	./v3/selector/dns
	./v3/selector/label
	./v3/selector/registry
	./v3/selector/shard
	./v3/selector/static
	./v3/server/grpc
	./v3/server/http
	./v3/server/mucp
	./v3/store/cockroach
	./v3/store/consul
	./v3/store/file
	./v3/store/memcached
	./v3/store/memory
	./v3/store/mysql
	./v3/store/redis
	./v3/sync/consul
	./v3/sync/etcd
	./v3/sync/memory
	./v3/transport/grpc
	./v3/transport/http
	./v3/transport/memory
	./v3/transport/nats
	./v3/transport/quic
	./v3/transport/rabbitmq
	./v3/transport/tcp
	./v3/transport/utp
	./v3/wrapper/breaker/gobreaker
	./v3/wrapper/breaker/hystrix
	./v3/wrapper/endpoint
	./v3/wrapper/monitoring/prometheus
	./v3/wrapper/monitoring/victoriametrics
	./v3/wrapper/ratelimiter/ratelimit
	./v3/wrapper/ratelimiter/uber
	./v3/wrapper/select/roundrobin
	./v3/wrapper/select/shard
	./v3/wrapper/select/version
	./v3/wrapper/service
	./v3/wrapper/trace/awsxray
	./v3/wrapper/trace/datadog
	./v3/wrapper/trace/opencensus
	./v3/wrapper/trace/opentracing
	./v3/wrapper/validator
	./v4/acme/certmagic
	./v4/auth/jwt
	./v4/broker/gocloud
	./v4/broker/googlepubsub
	./v4/broker/grpc
	./v4/broker/http
	./v4/broker/kafka
	./v4/broker/memory
	./v4/broker/mqtt
	./v4/broker/nats
	./v4/broker/nsq
	./v4/broker/proxy
	./v4/broker/rabbitmq
	./v4/broker/redis
	./v4/broker/segmentio
	./v4/broker/snssqs
	./v4/broker/sqs
	./v4/broker/stan
	./v4/broker/stomp
	./v4/cache/redis
	./v4/client/grpc
	./v4/client/http
	./v4/client/mock
	./v4/client/mucp
	./v4/codec/bsonrpc
	./v4/codec/json-iterator
	./v4/codec/jsonrpc2
	./v4/codec/msgpackrpc
	./v4/codec/segmentio
	./v4/config/encoder/cue
	./v4/config/encoder/hcl
	./v4/config/encoder/toml
	./v4/config/encoder/xml
	./v4/config/encoder/yaml
	./v4/config/source/configmap
	./v4/config/source/consul
	./v4/config/source/etcd
	./v4/config/source/grpc
	./v4/config/source/mucp
	./v4/config/source/nacos
	./v4/config/source/nats
	./v4/config/source/pkger
	./v4/config/source/runtimevar
	./v4/config/source/url
	./v4/config/source/vault
	./v4/events/nats
	./v4/events/natsjs
	./v4/events/redis
	./v4/logger/apex
	./v4/logger/logrus
	./v4/logger/windowseventlog
	./v4/logger/zap
	./v4/logger/zerolog
	./v4/proxy/http
	./v4/registry/cache
	./v4/registry/consul
	./v4/registry/etcd
	./v4/registry/eureka
	./v4/registry/gossip
	./v4/registry/kubernetes
	./v4/registry/mdns
	./v4/registry/memory
	./v4/registry/multi
	./v4/registry/nacos
	./v4/registry/nats
	./v4/registry/proxy
	./v4/registry/zookeeper
	./v4/selector/dns
	./v4/selector/label
	./v4/selector/registry
	./v4/selector/shard
	./v4/selector/static
	./v4/server/grpc
	./v4/server/http
	./v4/server/mucp
	./v4/store/cockroach
	./v4/store/consul
	./v4/store/file
	./v4/store/memcached
	./v4/store/memory
	./v4/store/mysql
	./v4/store/nats-js
	./v4/store/redis
	./v4/sync/consul
	./v4/sync/etcd
	./v4/sync/memory
	./v4/transport/grpc
	./v4/transport/http
	./v4/transport/memory
	./v4/transport/nats
	./v4/transport/quic
	./v4/transport/rabbitmq
	./v4/transport/tcp
	./v4/transport/utp
	./v4/wrapper/breaker/gobreaker
	./v4/wrapper/breaker/hystrix
	./v4/wrapper/endpoint
	./v4/wrapper/monitoring/prometheus
	./v4/wrapper/monitoring/victoriametrics
	./v4/wrapper/ratelimiter/ratelimit
	./v4/wrapper/ratelimiter/uber
	./v4/wrapper/select/roundrobin
	./v4/wrapper/select/shard
	./v4/wrapper/select/version
	./v4/wrapper/service
	./v4/wrapper/trace/awsxray
	./v4/wrapper/trace/datadog
	./v4/wrapper/trace/opencensus
	./v4/wrapper/trace/opentracing
	./v4/wrapper/validator
)
