go 1.21

use (
	./v4/acme/certmagic
	./v4/auth/jwt
	./v4/broker/gocloud
	./v4/broker/googlepubsub
	./v4/broker/grpc
	./v4/broker/http
	./v4/broker/kafka
	./v4/broker/memory
	./v4/broker/mqtt
	./v4/broker/nats
	./v4/broker/nsq
	./v4/broker/proxy
	./v4/broker/rabbitmq
	./v4/broker/redis
	./v4/broker/segmentio
	./v4/broker/snssqs
	./v4/broker/sqs
	./v4/broker/stan
	./v4/broker/stomp
	./v4/cache/redis
	./v4/client/grpc
	./v4/client/http
	./v4/client/mock
	./v4/client/mucp
	./v4/codec/bsonrpc
	./v4/codec/json-iterator
	./v4/codec/jsonrpc2
	./v4/codec/msgpackrpc
	./v4/codec/segmentio
	./v4/config/encoder/cue
	./v4/config/encoder/hcl
	./v4/config/encoder/toml
	./v4/config/encoder/xml
	./v4/config/encoder/yaml
	./v4/config/source/configmap
	./v4/config/source/consul
	./v4/config/source/etcd
	./v4/config/source/grpc
	./v4/config/source/mucp
	./v4/config/source/nacos
	./v4/config/source/nats
	./v4/config/source/pkger
	./v4/config/source/runtimevar
	./v4/config/source/url
	./v4/config/source/vault
	./v4/events/nats
	./v4/events/natsjs
	./v4/events/redis
	./v4/logger/apex
	./v4/logger/logrus
	./v4/logger/windowseventlog
	./v4/logger/zap
	./v4/logger/zerolog
	./v4/proxy/http
	./v4/registry/cache
	./v4/registry/consul
	./v4/registry/etcd
	./v4/registry/eureka
	./v4/registry/gossip
	./v4/registry/kubernetes
	./v4/registry/mdns
	./v4/registry/memory
	./v4/registry/multi
	./v4/registry/nacos
	./v4/registry/nats
	./v4/registry/proxy
	./v4/registry/zookeeper
	./v4/registry/polaris
	./v4/selector/dns
	./v4/selector/label
	./v4/selector/registry
	./v4/selector/shard
	./v4/selector/static
	./v4/server/grpc
	./v4/server/http
	./v4/server/mucp
	./v4/store/cockroach
	./v4/store/consul
	./v4/store/file
	./v4/store/memcached
	./v4/store/memory
	./v4/store/mysql
	./v4/store/nats-js
	./v4/store/nats-js-kv
	./v4/store/redis
	./v4/sync/consul
	./v4/sync/etcd
	./v4/sync/memory
	./v4/transport/grpc
	./v4/transport/http
	./v4/transport/memory
	./v4/transport/nats
	./v4/transport/quic
	./v4/transport/rabbitmq
	./v4/transport/tcp
	./v4/transport/utp
	./v4/wrapper/breaker/gobreaker
	./v4/wrapper/breaker/hystrix
	./v4/wrapper/endpoint
	./v4/wrapper/monitoring/prometheus
	./v4/wrapper/monitoring/victoriametrics
	./v4/wrapper/ratelimiter/ratelimit
	./v4/wrapper/ratelimiter/uber
	./v4/wrapper/select/roundrobin
	./v4/wrapper/select/shard
	./v4/wrapper/select/version
	./v4/wrapper/service
	./v4/wrapper/trace/awsxray
	./v4/wrapper/trace/datadog
	./v4/wrapper/trace/opencensus
	./v4/wrapper/trace/opentelemetry
	./v4/wrapper/trace/opentracing
	./v4/wrapper/validator
)
