go 1.21

use (
	./v5/acme/certmagic
	./v5/auth/jwt
	./v5/broker/gocloud
	./v5/broker/googlepubsub
	./v5/broker/grpc
	./v5/broker/http
	./v5/broker/kafka
	./v5/broker/memory
	./v5/broker/mqtt
	./v5/broker/nats
	./v5/broker/nsq
	./v5/broker/proxy
	./v5/broker/rabbitmq
	./v5/broker/redis
	./v5/broker/segmentio
	./v5/broker/snssqs
	./v5/broker/sqs
	./v5/broker/stan
	./v5/broker/stomp
	./v5/cache/redis
	./v5/client/grpc
	./v5/client/http
	./v5/client/mock
	./v5/client/mucp
	./v5/codec/bsonrpc
	./v5/codec/json-iterator
	./v5/codec/jsonrpc2
	./v5/codec/msgpackrpc
	./v5/codec/segmentio
	./v5/config/encoder/cue
	./v5/config/encoder/hcl
	./v5/config/encoder/toml
	./v5/config/encoder/xml
	./v5/config/encoder/yaml
	./v5/config/source/configmap
	./v5/config/source/consul
	./v5/config/source/etcd
	./v5/config/source/grpc
	./v5/config/source/mucp
	./v5/config/source/nacos
	./v5/config/source/nats
	./v5/config/source/pkger
	./v5/config/source/runtimevar
	./v5/config/source/url
	./v5/config/source/vault
	./v5/logger/apex
	./v5/logger/logrus
	./v5/logger/windowseventlog
	./v5/logger/zap
	./v5/logger/zerolog
	./v5/proxy/http
	./v5/registry/cache
	./v5/registry/consul
	./v5/registry/etcd
	./v5/registry/eureka
	./v5/registry/gossip
	./v5/registry/kubernetes
	./v5/registry/mdns
	./v5/registry/memory
	./v5/registry/multi
	./v5/registry/nacos
	./v5/registry/nats
	./v5/registry/polaris
	./v5/registry/proxy
	./v5/registry/zookeeper
	./v5/selector/dns
	./v5/selector/label
	./v5/selector/registry
	./v5/selector/shard
	./v5/selector/static
	./v5/server/grpc
	./v5/server/http
	./v5/server/mucp
	./v5/store/cockroach
	./v5/store/consul
	./v5/store/file
	./v5/store/memcached
	./v5/store/memory
	./v5/store/mysql
	./v5/store/nats-js
	./v5/store/nats-js-kv
	./v5/store/redis
	./v5/sync/consul
	./v5/sync/etcd
	./v5/sync/memory
	./v5/transport/grpc
	./v5/transport/http
	./v5/transport/memory
	./v5/transport/nats
	./v5/transport/quic
	./v5/transport/rabbitmq
	./v5/transport/tcp
	./v5/transport/utp
	./v5/wrapper/breaker/gobreaker
	./v5/wrapper/breaker/hystrix
	./v5/wrapper/endpoint
	./v5/wrapper/monitoring/prometheus
	./v5/wrapper/monitoring/victoriametrics
	./v5/wrapper/ratelimiter/ratelimit
	./v5/wrapper/ratelimiter/uber
	./v5/wrapper/select/roundrobin
	./v5/wrapper/select/shard
	./v5/wrapper/select/version
	./v5/wrapper/service
	./v5/wrapper/trace/awsxray
	./v5/wrapper/trace/datadog
	./v5/wrapper/trace/opencensus
	./v5/wrapper/trace/opentelemetry
	./v5/wrapper/trace/opentracing
	./v5/wrapper/validator
)
